<section class="quote-fav">
  <div class="container box-quote-fav">
    <div class="quote">
      <div class="quote-title-box">
        <svg class="icon-running_man" width="34" height="32">
          <use href="./img/sprite.svg#icon-run-person"></use>
        </svg>
        <h2>Quote of the day</h2>
      </div>
      <div class="icon-inverted_commas">
        <svg>
          <use href="./img/sprite.svg#icon-inverted-commas"></use>
        </svg>
      </div>
      <div class="home-quote-phrase-block">
        <p class="home-quote-phrase-text"></p>
        <p class="home-quote-phrase-author"></p>
      </div>
    </div>
    <ul class="daily-norm-bg-box">
      <li class="bg-img"></li>
      <li class="daily-norm">
        <svg class="icon-dumbbell" width="20" height="20">
          <use href="./img/sprite.svg#motivation2"></use>
        </svg>
        <p class="dailyy-time">110 min</p>
        <p class="daily-text">Daily norm of sports</p>
      </li>
    </ul>
  </div>
</section>
