
    <section class="quote_fav">
        <div class="quote">
            <div class="quote-title-box">
                <svg class="icon-running_man" width="34" height="32">
                    <use href="../img/sprite.svg#icon-running_man"></use>
                </svg>
                <h3>Quote of the day</h3>
                <svg class="icon-inverted_commas" width="28" height="28">
                    <use href="../img/sprite.svg#icon-inverted_commas"></use>
                </svg>
            </div>
            <p>A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones
            who aren't blessed in that way are the most competitive and have the biggest heart.</p>
            <p class="author">Tom Brady</p>
        </div>
        <ul class="daily-norm-bg-box">
            <li class="bg-img"></li>
            <li class="daily-norm">
                <svg class="icon-dumbbell" width="20" height="20">
                    <use href="../img/sprite.svg#icon-dumbbell"></use>
                </svg>
                <p class="dailyy-time">110 min</p>
                <p class="daily-text">Daily norm of sports</p>
            </li>
        </ul>
            <!-- <div class="bg_img"></div>
            <div class="daily_norm">
                <svg class="icon-dumbbell" width="20" height="20">
                    <use href="../img/sprite.svg#icon-dumbbell"></use>
                </svg>
                <p class="dailyy-time">110 min</p>
                <p class="daily-text">Daily norm of sports</p>
            </div> -->
        
    </section>
