
    <section class="quote_fav">
        <div class="quote">
            <div class="quote-title-box">
                <svg class="icon-running_man" width="34" height="32">
                    <use href="../img/sprite.svg#icon-running_man"></use>
                </svg>
                <h3>Quote of the day</h3>
                <svg class="icon-inverted_commas" width="28" height="28">
                    <use href="../img/sprite.svg#icon-inverted_commas"></use>
                </svg>
            </div>
            <p class="quote"></p>
            <p class="author"></p>
        </div>
        <ul class="daily-norm-bg-box container">
            <li class="bg-img"></li>
            <li class="daily-norm">
                <svg class="icon-dumbbell" width="20" height="20">
                    <use href="../img/sprite.svg#icon-dumbbell"></use>
                </svg>
                <p class="dailyy-time">110 min</p>
                <p class="daily-text">Daily norm of sports</p>
            </li>
        </ul>        
    </section>
