<section class="container">
  <div class="favorites-main">
    <h2 class="favorites-main-title">Favorites</h2>
    <div class="faforites-scroll-bar">
      <ul class="favorites-list-item"></ul>
    </div>
    <div class="favorites-pagination-main-container-btn">
      <div class="favorites-pagination">
        <ul class="favorites-pagination-container-btn"></ul>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="favorites-container-error-notification"></div>
</div>
