<section class="footer">
  <div class="container-footer">
    <div class="background-footer">
      <div class="footer-tablet-flex">
        <div class="footer-first-block">
          <a href="./index.html">
            <h1 class="footer-logo">energy.flow</h1>
          </a>
          <ul class="social-list list">
            <li class="social-item-footer">
              <a
                class="social-link-footer"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                aria-label="facebook"
              >
                <svg class="social-icon-footer" width="20" height="20">
                  <use href="/img/sprite.svg#icon-facebook2"></use>
                </svg>
              </a>
            </li>
            <li class="social-item-footer">
              <a
                class="social-link-footer"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                aria-label="instagram"
              >
                <svg class="social-icon-footer" width="20" height="20">
                  <use href="/img/sprite.svg#icon-instagram2"></use>
                </svg>
              </a>
            </li>
            <li class="social-item-footer">
              <a
                class="social-link-footer"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                aria-label="youtube"
              >
                <svg class="social-icon-footer" width="20" height="20">
                  <use href="/img/sprite.svg#icon-youtube2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-second-block">
          <h2 class="footer-company-slogan">
            Transforming your
            <span class="footer-company-slogan-accent">body</span> shape with us
          </h2>
          <form id="footer-form" class="footer-form" method="post">
            <label
              class="footer-form-label"
              for="footer-email-input"
              aria-label="email"
            >
              Subscribe and learn about new exercises!
              <input
                id="footer-email-input"
                type="email"
                name="footer-email"
                class="footer-form-input"
                placeholder="Email"
              />
            </label>

            <button type="submit" class="footer-form-btn">Send</button>
          </form>
        </div>
      </div>
      <div class="footer-third-block">
        <p class="footer-text footer-text-first">
          Energy Flow. All rights reserved.
        </p>
        <div class="footer-text-container">
          <a href="" class="footer-text">Privacy Policy</a>
          <p class="footer-text">/</p>
          <a href="" class="footer-text">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</section>
