<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <a class="menu-logo" href="./index.html">energy.flow</a>

  <button class="menu-toggle js-close-menu butn" aria-label="Menu escape">
    <svg class="modal-icon-btn" width="20" height="20">
      <use href="./img/sprite.svg#icon-x"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu-item">
      <a href="./index.html" class="mobile-menu-link mobile-link-home link"
        >Home</a
      >
    </li>
    <li class="mobile-menu-item">
      <a
        href="./favorites.html"
        class="mobile-menu-link mobile-link-favorites link"
        >Favorites</a
      >
    </li>
  </ul>

  <ul class="mobile-menu-social social-icon list">
    <li class="mobile-social-icon">
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        class="foot-link"
        aria-label="facebook page"
      >
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-facebook2"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-social-icon">
      <a
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        class="foot-link"
        aria-label="instagram page"
      >
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-instagram2"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-social-icon">
      <a
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
        class="foot-link"
        aria-label="youtube page"
      >
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-youtube2"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
