.quote-fav {
  display: flex;
  background: #f6f6f6;
  margin-bottom: 20px;
}

.box-quote-fav {
  display: block;
}

.quote {
  display: grid;
  position: relative;
  width: 100%;
  height: 272px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
  border-radius: 30px;
  background: #7e847f;
}

.quote-title-box {
  display: flex;
  gap: 12px;
}

h2 {
  color: #f6f6f6;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.icon-inverted_commas {
  position: absolute;
  top: 40px;
  right: 20px;
}

.icon-inverted_commas svg {
  width: 28px;
  height: 28px;
}

.daily-norm-bg-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-img {
  width: 100%;
  height: 272px;
  border-radius: 30px;
  background-image: url('../img/favorites-quote/quote-fav-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .bg-img {
    background-image: url('../img/favorites-quote/quote-fav-mobile@2x.jpg');
    background-size: cover;
  }
}

.daily-norm {
  display: block;
  width: 100%;
  height: 272px;
  border-radius: 30px;
  background: #fff;
  padding-top: 96px;
  padding-right: 101px;
  padding-bottom: 97px;
  padding-left: 102px;
}

.icon-dumbbell {
  margin-bottom: 15px;
  fill: #1b1b1b;
}

.dailyy-time {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 6px;
}

.daily-text {
  color: rgba(27, 27, 27, 0.6);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
}

@media screen and (min-width: 375px) {
  .quote {
    max-width: 335px;
  }

  .bg-img {
    max-width: 335px;
  }

  .daily-norm {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .quote {
    min-width: 736px;
    height: 302px;
    padding: 64px 80px;
    margin-top: 180px;
  }

  .quote-title-box {
    gap: 16px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .icon-inverted_commas {
    top: 32px;
    right: 80px;
  }

  .icon-inverted_commas svg {
    width: 48px;
    height: 48px;
  }

  .bg-img {
    min-width: 368px;
    height: 302px;
    background-image: url('../img/favorites-quote/quote-fav-tablet.jpg');
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .bg-img {
      background-image: url('../img/favorites-quote/quote-fav-tablet@2x.jpg');
      background-size: cover;
    }
  }

  .daily-norm-bg-box {
    display: flex;
  }

  .daily-norm {
    width: 368px;
    height: 302px;
  }

  .dailyy-time {
    font-size: 24px;
    line-height: 1.33em;
  }
}

@media screen and (min-width: 1440px) {
  .quote_fav {
    display: flex;
  }

  .box-quote-fav {
    display: flex;
  }

  .quote {
    min-width: 704px;
    margin-left: 0;
    margin-right: 0;
    padding: 64px 64px;
  }

  .icon-inverted_commas {
    right: 64px;
  }

  .daily-norm-bg-box {
    margin-top: 180px;
    margin-left: 0;
    margin-right: 0;
  }

  .bg-img {
    min-width: 352px;
    background-image: url('../img/favorites-quote/quote-fav-desktop.jpg');
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .bg-img {
      background-image: url('../img/favorites-quote/quote-fav-desktop@2x.jpg');
    }
  }

  .daily-norm {
    width: 352px;
  }
}
